.articleDetails {
    overflow: auto;
    flex: 1;
    padding: 0 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    strong {
        font-size: 18px;
    }

    &.scrollbar {
        padding: 0 10px 0 15px;

    }

    .title {
        &:extend(.cnFont);
    }

    .infoBar {
        display: flex;
        gap: 10px;

        .label {
            font-weight: bolder;
        }
    }

    img {
        width: 100%;
        aspect-ratio: 1.6;
        object-fit: cover;
    }

    .description {
        white-space: pre-wrap;
    }

    .content {
        white-space: break-spaces;
    }

    &::-webkit-scrollbar {

    }
}
