.articleList#articleList {
    .article {
        padding: 4vw 8vw;
        transition: background-color 0.2s ease-in-out;
        cursor: pointer;

        &:hover {
            background-color: @hoverColor;

            .more {
                box-shadow: inset 175px 0 0 0 @themeColor;
                color: #fff;
            }
        }

        .date {
            font-family: "Space Mono", monospace;
            color: #0a0a0a;
        }

        .title {
            color: @themeColor;
            font-weight: bolder;
            font-family: "Inconsolata", "等线", monospace;
            margin-bottom: 8px;
        }

        .text {
            color: #0a0a0a;
            overflow: hidden; /* 超出部分隐藏 */
            text-overflow: ellipsis; /* 超出部分用省略号表示 */
            display: -webkit-box;
            -webkit-line-clamp: 3; /* 限制文本的行数 */
            -webkit-box-orient: vertical;
        }

        .more {
            display: inline-block;
            padding: 8px;
            font-family: "Space Mono", monospace;
            color: @themeColor;
            border: 3px solid @themeColor;
            transition: all 0.4s ease-in-out;
            &:extend(.interactive);
        }
    }
}
