.articleDetails {
    overflow: auto;
    flex: 1;
    padding: 0 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    &:extend(.fadeInAnimation);

    strong {
        font-size: 18px;
    }

    &.scrollbar {
        padding: 0 5px 0 15px;

    }

    .title {
        &:extend(.cnFont);
    }

    .infoBar {
        //display: flex;
        gap: 15px;
        color: #666;
        font-size: 12px;
        font-weight: lighter;
        //&:extend(.enFontS);
        border-bottom: 1px solid #f5f5f5;
        padding-bottom: 15px;

        .item {
            display: flex;
            height: 24px;

            gap: 5px;
            align-items: center;

            svg {
                font-size: 16px;
                color: #333;
            }
        }

    }

    > img {
        width: 100%;
        aspect-ratio: 1.6;
        object-fit: cover;
    }

    .description {
        * {
            margin: 0;
        }


    }

    code {
        color: #333;
        background-color: #f8f8f8;
        padding: 4px 6px;
        margin: 0 2px;
        &:extend(.enFontS);
    }

    .content {
        display: flex;
        flex-direction: column;


        > * {
            margin: 0 0 15px;

            * {
                margin: 0;
            }
        }

        hr {
            border: 0;
            height: 1px;
            background-color: #f5f5f5;
        }

        img {
            max-width: 100%;
        }

        //noinspection LessResolvedByNameOnly
        blockquote {
            padding: 8px 15px;
            border-left: 3px solid @themeColor;
            background-color: #f9fcfa;
            color: #666666;
        }

        pre {
            code {
                &:extend(.enFontS);
                color: unset;
                padding: 15px;
                background-color: #f9fcfa;
                margin: 0;
                display: block;
                overflow-x: scroll;
            }
        }

        table {
            border-collapse: collapse;
            border-spacing: 0;
            display: block;
            width: 100%;
            overflow: auto;
            word-break: keep-all;
            text-align: left;
            font-size: 14px;


            //tr {
            //    background-color: #f1f1f1;
            //}


            thead {
                background-color: #f8f8f8;
            }

            tbody {
                tr:nth-child(even) {
                    background-color: #f8f8f8;
                }

                tr:nth-child(odd) {
                    background-color: #fefefe;
                }
            }


            th, td {
                padding: 8px 16px;
            }
        }

        a {
            color: @themeColor;
        }
    }

}

#comments::part(iframe) {
    vertical-align: bottom;
    display: block;
}
