.index {
    display: flex;
    justify-content: flex-end;

    @media (max-width: 768px) {
        flex-direction: column;
        .content#content, .cover#cover {
            width: 100%;
            position: relative;
        }
    }
    @media (max-width: 450px) {

    }
}
