*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: "等线", monospace;
    font-feature-settings: "liga" 0;
    line-height: 1.6;
    background-color: #f8f9f9;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar-thumb {
    background-color: @themeColor;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: unset;
    position: absolute;
    right: 0;
}

h1, h2 {
    margin: 0;
    font-family: "Space Mono", monospace;
}


p {
    margin: 0 0 12px;
}

a {
    color: #0a0a0a;
    text-decoration: none;
    transition: color 0.4s ease-in-out;
}

a:hover, a:active, a:focus {
    color: @themeColor;
}

figure {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

::selection {
    color: #fff;
    background-color: @themeColor;
    text-shadow: none;
}

.placeholder {
    flex: 1;
}

