*, *:before, *:after {
    box-sizing: border-box;
}

body {
    &:extend(.cnFont);
    font-feature-settings: "liga" 0;
    line-height: 1.6;
    background-color: #f8f9f9;
    padding: 0;
    margin: 0;

    &::-webkit-scrollbar {
        display: none;
    }
}

//noinspection LessResolvedByNameOnly
::-webkit-scrollbar-thumb {
    background-color: @themeColor;


}

::-webkit-scrollbar {
    width: 5px;
    background-color: unset;
}

h1, h2 {
    margin: 0;
    &:extend(.enFontB);
}

p {
    margin: 0 0 15px;
}

a {
    color: #0a0a0a;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.4s ease-out;

    //noinspection LessResolvedByNameOnly
    &:hover, &:active, &:focus {
        color: @themeColor;
    }
}

input {
    color: #0a0a0a;
    letter-spacing: 0.8px;
    &:extend(.cnFont);
}

//noinspection LessResolvedByNameOnly
::selection {
    color: #fff;
    background-color: @themeColor;
    text-shadow: none;
}

.placeholder {
    flex: 1;
}

//noinspection LessResolvedByNameOnly
div.button {
    display: inline-block;
    padding: 8px;
    font-family: "Space Mono", monospace;
    color: #05b45d;
    border: 3px solid @themeColor;
    transition: all 0.4s ease-out;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
        box-shadow: inset 175px 0 0 0 #05b45d;
        color: #fff;
    }

    &:after, &:before {
        content: "-";
    }
}
