#manage.manage .tagList {

    .id {
        text-align: center;
        justify-content: center;
        width: 40px;
    }

    .name {
        width: 200px;
    }

    .content {
        text-align: left;
        flex: 1;
    }

    .item {
        .id {
            color: #666;
            &:extend(.enFontB);
            font-size: 14px;
        }
    }
}
